%script{:type => "text/javascript"}
  var beta_user = "#{@beta_user}";
  var linkedin_url = "linkedin";
  var facebook_url = "facebook";

%script{:type => "text/html", :id => "login_template"}
  %table{:border => "0px", :cellpadding => "0", :cellspacing => "0"}
    %tr
      %td{:width => "*", :style => "vertical-align:top;margin;0px"}
        - if @person.nil?
          %h3
            Why sign up?
          %p
            Well currently we don't know who you are, and we would like to change that so we can provide you with a 
            better service. We have chosen an approach which makes this very easy; all you have to do is choose your 
            preferred account on the right and sign in with it. This will automatically create a profile for you here 
            on 17Jobs.com.
          %h3
            Then what?
          %p
            After you have signed in you will be able to create and maintain your CV, and that is only the start, more cool 
            functionality will be available to you later...
        - else
          %h3
            Why should I add more providers?
          %p
            Adding more different providers to your 17Jobs.com profile will make sure that when you login with another 
            one that we don't create a new account for you, but instead log you in to your original account.
          %h3
            Then what?
          %p
            Then you can for example login with LinkedIn and copy your profile into 17Jobs.com.
            %br
            %br
        -
      %td.standingSeperatorLine{:width => "7px", :align => "center"}
      %td{:width => "160px"}
        
        #loginWithLinkedin.button.center.textAlignLeft
          .logoButton.Linkedin
            &nbsp;
          LinkedIn

        #loginWithTwitter.button-disabled.center.textAlignLeft
          .logoButton.Twitter
            &nbsp;
          Twitter

        #loginWithOpenid.button-disabled.center.textAlignLeft
          .logoButton.Openid
            &nbsp;
          Open ID
          
      %td{:width => "160px"}

        #loginWithFacebook.button.center.textAlignLeft
          .logoButton.Facebook
            &nbsp;
          Facebook

        #loginWithGoogle.button-disabled.center.textAlignLeft
          .logoButton.Google
            &nbsp;
          Google

        #loginWith17Jobs.button-disabled.center.textAlignLeft
          .logoButton.ITJobs
            &nbsp;
          17Jobs.com
          
#header
  .headerInnerBox
    .top.grayText
      - if !@person.nil?
        Welcome 
        = link_to @person.get_user_name, ItJobsCom.url_for(:my_profile), :id => "my_profile"
      -
    #headerGray
      #menu
        %ul
          %li.first
            = link_to 'home', 'home url', :id => "home"
          %li
            &nbsp;
          %li
            = link_to 'add new job posting', 'job posting url', :id => "my_job_positions"
          %li
            &nbsp;
          %li.last
            &nbsp;


      #logo
        &nbsp;
      
      .searchBox
        .searchStart
          &nbsp;
        .searchMiddle
          %form#search
            %input#searchText
        .searchEnd
          &nbsp;
        #searchButton
          &nbsp;
      
    #headerGreen
      %ul
        - if @person.nil?
          %li
            .whiteArrow
            %a#signUpLinkWhite
              Sign Up!
          %li
            .grayArrow
            %a#signUpLinkGray
              Sign In!
        - else
          %li
            .whiteArrow
            = link_to "Sign Out!", 'sign out url', :id => "signOutLinkWhite"
          %li
            .grayArrow
            %a#signUpLinkGray
              Add Provider!
        -
    #pushpin

  .dropDownHeader
    .innerDropDownHeader
      #dropDownHeader
        #dropDownHeaderContent
      .dropDownHeaderFooter
        %a#dropDownHeaderCloseButton{:href => "#", :onclick => "$.fn.closeHeaderDropDownPanel(); return false;"}
          close
