

%script{:type => 'text/javascript', :src => '/aloha/plugins/com.gentics.aloha.plugins.Format/plugin.js' }

= javascript_include_tag 'aloha.js'
%script{:type => "text/javascript"}
  (function($) {
  $(document).ready(function() {
  $('#employer_job_text').aloha();
  });
  })(jQuery);

= form_for @employer_job do |f|
  -if @employer_job.errors.any?
    #error_explanation
      %h2= "#{pluralize(@employer_job.errors.count, "error")} prohibited this employer_job from being saved:"
      %ul
        - @employer_job.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :text
    -if @employer_job.text.nil?
      = f.text_area :text, :value => "<p>click here to start editing the job position</p>"
    -else
      = f.text_area :text
  .field
    = f.label :keywords
    = f.text_field :keywords
  .actions
    = f.submit 'Save'
