
= javascript_include_tag :ckeditor
= javascript_include_tag 'employer_job.js'

#topSpace

%br
%br

.partial-4-4-box
  = form_for @employer_job do |f|
    -if @employer_job.errors.any?
      #error_explanation
        %h2= "#{pluralize(@employer_job.errors.count, "error")} prohibited this employer_job from being saved:"
        %ul
          - @employer_job.errors.full_messages.each do |msg|
            %li= msg

    %br
    .field
      = f.cktext_area :text, :width=>'930px'

    .actions
      = f.submit 'Save'

#bottomSpace
