
= javascript_include_tag :ckeditor

/
  %script{:src=>"http://js.nicedit.com/nicEdit-latest.js", :type=>"text/javascript"}
  %script{:type=>"text/javascript"}

#editorToolBar

= form_for @employer_job do |f|
  -if @employer_job.errors.any?
    #error_explanation
      %h2= "#{pluralize(@employer_job.errors.count, "error")} prohibited this employer_job from being saved:"
      %ul
        - @employer_job.errors.full_messages.each do |msg|
          %li= msg

  %br
  .field
    = f.cktext_area :text, :toolbar=>'Full', :width=>'920px', :height=>'200px', :toolbar=>'Easy'
  .field
    = f.label :keywords
    = f.text_field :keywords
  .actions
    = f.submit 'Save'
