
= javascript_include_tag :ckeditor
= javascript_include_tag 'employer_job.js'

#topSpace

%br
%br

.partial-3-4-box
  = form_for @employer_job do |f|
    -if @employer_job.errors.any?
      #error_explanation
        %h2= "#{pluralize(@employer_job.errors.count, "error")} prohibited this employer_job from being saved:"
        %ul
          - @employer_job.errors.full_messages.each do |msg|
            %li= msg

    .field
      = f.cktext_area :text, :width=>'696px'

    .actions
      = f.submit 'Save'


.partial-1-4-box
  This is where the buttons should be


#bottomSpace
