
= form_for @employer_job do |f|
  -if @employer_job.errors.any?
    #error_explanation
      %h2= "#{pluralize(@employer_job.errors.count, "error")} prohibited this employer_job from being saved:"
      %ul
        - @employer_job.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :text
    -if @employer_job.text.nil?
      = f.text_area :text, :value => "<p>click here to start editing the job position</p>"
    -else
      = f.text_area :text
  .field
    = f.label :keywords
    = f.text_field :keywords
  .actions
    = f.submit 'Save'
