%h1 New job position

= javascript_include_tag 'employer_job.js'

.toolBar
  #toolBar
    %span.toolgroup
      %span.editor_button
        %a.editor_button_bold{}
          %span.editor_icon
      %span.editor_button
        %a.editor_button_italic{}
          %span.editor_icon
      %span.editor_button
        %a.editor_button_underline{}
          %span.editor_icon
      %span.editor_button
        %a.editor_button_strike{}
          %span.editor_icon

    %span.toolgroup
      %span.editor_button
        %a.editor_button_numberedlist{}
          %span.editor_icon
      %span.editor_button
        %a.editor_button_bulletedlist{}
          %span.editor_icon

    %span.toolgroup
      %span.editor_button
        %a.editor_button_link{}
          %span.editor_icon
      %span.editor_button
        %a.editor_button_unlink.editor_disabled{}
          %span.editor_icon
		
  .button
    Save draft


%div{:style=>"height: 45px"} &nbsp;

%form{:method=>"post", :id=>"new_employer_job", :action=>"/employer/jobs", :'accept-charset'=>"UTF-8"}
  %input{:type=>"hidden", :value=>"✓", :name=>"utf8"}
  %input{:type=>"hidden", :value=>"", :name=>"authenticity_token"}

  .partial-3-4-box
    -if not @employer_job.nil? || @employer_job.errors.any?
      #error_explanation
        %h2= "#{pluralize(@employer_job.errors.count, "error")} prohibited this employer_job from being saved:"
        %ul
          - @employer_job.errors.full_messages.each do |msg|
            %li= msg


    .field
      %textarea#employer_job{:width=>'696px'}

  .partial-1-4-box
    .padding.sidebar-menu

      .button
        Publish

      %br
      %br
      %br

      %img{:src => "/images/layout/content/little-green-arrow.png", :alt => "", :style => "position: relative; margin: 0px 0px -2px 0px;"}
      = link_to 'preview', url_for(:controller => :'employer/jobs', :action => :edit), :class => :text
      %br

      %img{:src => "/images/layout/content/little-green-arrow.png", :alt => "", :style => "position: relative; margin: 0px 0px -2px 0px;"}
      = link_to 'edit company profile', url_for(:controller => :'employer/jobs', :action => :edit), :class => :text
      %br

      %img{:src => "/images/layout/content/little-green-arrow.png", :alt => "", :style => "position: relative; margin: 0px 0px -2px 0px;"}
      = link_to 'back', url_for(:controller => :'employer/jobs', :action => :index), :class => :text



.partial-1-4-box
  .padding
    .sidebar-label Company:
    .sidebar-text Cre8ive Thought
    %br

    .sidebar-label Website:
    .sidebar-text www.cre8ivethought.com
    %br

    .sidebar-label Description:
    .sidebar-text Blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
    %br

    .sidebar-label Job title:
    .sidebar-text multifunctional senior developer
    %br

    .sidebar-label Job keywords:
    .sidebar-text Developer, C#, .Net, Ruby
    %br

