%h1 Manage your job postings


#drafts_jobs.partial-3-4-box
  %h2 
    Your drafts

  %table
    %tr
      %th Title
      %th Keywords
      %th
      %th
      %th

    - @employer_jobs.select{ |item| !item.published }.each do |employer_job|
      %tr
        %td= employer_job.title
        %td= employer_job.keywords
        %td= link_to 'Edit', :controller => :'employer/jobs', :action => :edit, :id => employer_job.id


.partial-1-4-box
  .padding.sidebar-menu

    %img{:src => "/images/layout/content/little-green-arrow.png", :alt => "", :style => "position: relative; margin: 0px 0px -2px 0px;"}
    = link_to 'add a new Job', url_for(:controller => :'employer/jobs', :action => :edit), :class => :text
    %br

    %img{:src => "/images/layout/content/little-green-arrow.png", :alt => "", :style => "position: relative; margin: 0px 0px -2px 0px;"}
    = link_to 'edit company profile', url_for(:controller => :'employer/jobs', :action => :edit), :class => :text
    %br
    %br
    %hr

    %img{:src => "/images/layout/content/little-green-arrow.png", :alt => "", :style => "position: relative; margin: 0px 0px -2px 0px;"}
    = link_to 'job archive', url_for(:controller => :'employer/jobs', :action => :edit), :class => :text



- if @employer_jobs.select{ |item| item.published }.count > 0

  #latest_jobs.partial-3-4-box
    %h2 
      Your published job postings

    %table
      %tr
        %th Title
        %th Keywords
        %th Published
        %th
        %th

      - @employer_jobs.select{ |item| item.published }.each do |employer_job|
        %tr
          %td= employer_job.title
          %td= employer_job.keywords
          %td= employer_job.published_date
          %td= link_to 'Edit', url_for(:controller => :'employer/jobs', :action => :edit, :id =>employer_job)



