%h1 Manage your job postings


#drafts_jobs.partial-4-4-box
  .left-of-h2
    %img{:src => "/images/layout/content/little-green-arrow.png", :alt => "", :style => "position: relative; margin: 0px 0px -2px 0px;"}
    = link_to 'add a new Job', new_employer_job_path, :class => "text"

  %h2 
    Your drafts

  %table
    %tr
      %th Title
      %th Keywords
      %th
      %th
      %th

    - @employer_jobs.each do |employer_job|
      %tr
        %td= employer_job.title
        %td= employer_job.keywords
        %td= link_to 'Show', employer_job
        %td= link_to 'Edit', edit_employer_job_path(employer_job)
        %td= link_to 'Destroy', employer_job, :confirm => 'Are you sure?', :method => :delete


#latest_jobs.partial-4-4-box
  .left-of-h2
    %img{:src => "/images/layout/content/little-green-arrow.png", :alt => "", :style => "position: relative; margin: 0px 0px -2px 0px;"}
    = link_to 'add a new Job', new_employer_job_path, :class => "text"

  %h2 
    Your published job postings

  %table
    %tr
      %th Title
      %th Keywords
      %th Published
      %th
      %th

    - @employer_jobs.each do |employer_job|
      %tr
        %td= employer_job.title
        %td= employer_job.keywords
        %td= employer_job.published_date
        %td= link_to 'Show', employer_job
        %td= link_to 'Un-publish', edit_employer_job_path(employer_job)



