%h1 Manage your job postings


#drafts_jobs.partial-4-4-box
  .left-of-h2
    %img{:src => "/images/layout/content/little-green-arrow.png", :alt => "", :style => "position: relative; margin: 0px 0px -2px 0px;"}
    = link_to 'add a new Job', url_for(:controller => :'employer/jobs', :action => :edit), :class => :text

  %h2 
    Your drafts

  %table
    %tr
      %th Title
      %th Keywords
      %th
      %th
      %th

    - @employer_jobs.select{ |item| !item.published }.each do |employer_job|
      %tr
        %td= employer_job.title
        %td= employer_job.keywords
        %td= link_to 'Edit', :controller => :'employer/jobs', :action => :edit, :id => employer_job.id


#latest_jobs.partial-4-4-box
  %h2 
    Your published job postings

  %table
    %tr
      %th Title
      %th Keywords
      %th Published
      %th
      %th

    - @employer_jobs.select{ |item| item.published }.each do |employer_job|
      %tr
        %td= employer_job.title
        %td= employer_job.keywords
        %td= employer_job.published_date
        %td= link_to 'Edit', url_for(:controller => :'employer/jobs', :action => :edit, :id =>employer_job)



